<ion-header>
  <ion-toolbar>
    <ion-title>Log Sleep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Sleep Start:</ion-list-header>
        <ion-item>
          <ion-label></ion-label>
          <ion-datetime displayFormat="MMMM DD, YYYY" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label></ion-label>
          <ion-datetime displayFormat="HH:mm:ss" placeholder="Select Time"></ion-datetime>
        </ion-item>
      </ion-list>
      
    
      <ion-list>
        <ion-list-header>Sleep End:</ion-list-header>
        <ion-item>
          <ion-label></ion-label>
          <ion-datetime displayFormat="MMMM DD, YYYY" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label></ion-label>
          <ion-datetime displayFormat="HH:mm:ss" placeholder="Select Time"></ion-datetime>
        </ion-item>
      </ion-list>
</ion-content>
