<ion-header>
  <ion-toolbar>
    <ion-title>Log Sleepiness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Enter Date and Time:</ion-list-header>
        <ion-item>
          <ion-label></ion-label>
          <ion-datetime displayFormat="M D, YY HH:mm:ss" placeholder="Select Date" [(ngModel)]="dateTime" min="2000" max="2100"></ion-datetime>
        </ion-item>
        <!--<ion-item>
          <ion-label></ion-label>
          <ion-datetime displayFormat="HH:mm:ss" placeholder="Select Time"></ion-datetime>
        </ion-item>-->
    </ion-list>
    <ion-list>
      <ion-list-header>Enter Sleepiness</ion-list-header>
      <ion-item>
        <ion-label>Degree of Sleepiness</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="degree">
          <ion-select-option value="1">1 Feeling active, vital, alert, or wide awake</ion-select-option>
          <ion-select-option value="2">2 Functioning at high levels, but not at peak; able to concentrate</ion-select-option>
          <ion-select-option value="3">3 Awake, but relaxed; responsive but not fully alert</ion-select-option>
          <ion-select-option value="4">4 Somewhat foggy, let down</ion-select-option>
          <ion-select-option value="5">5 Foggy; losing interest in remaining awake; slowed down</ion-select-option>
          <ion-select-option value="6">6 Sleepy, woozy, fighting sleep; prefer to lie down</ion-select-option>
          <ion-select-option value="7">7 No longer fighting sleep, sleep onset soon; having dream-like thoughts</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!--ADD BUTTON-->
    <ion-button expand="block" (click)="addEntryClicked()">
      ADD ENTRY
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-button>

</ion-content>
